@charset "utf-8";
/* CSS Document */
#wrapper #header .hd_line1{
	background-color: #01cd74;
	}

.hd_line1_left{
	float:left;
	}
	
.hd_line1_left p{
	color:black;
	text-decoration:none;
	margin-left:50px;
	margin-top:50px;
	}
.hd_line1_right{
	float:right;
	margin-top:50px;
	}